
    .attribution { font-size: 11px; text-align: center; 
    margin-top: 20px}
    .attribution a { color: hsl(228, 45%, 44%); }
  
    body{
    background-color: rgba(244, 208, 78, 1);
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    }

    .main{
    width: 384px;
    height: 522px;
    margin-top: 200px;
    border: solid rgb(255, 255, 255) 1px;
    border-radius: 20px;
    background-color: white;
    padding: 16px;
    box-shadow: 8px 8px black;
    }
